{
  "extends": "eslint-config-airbnb",
  "rules": {
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": [2, { "ignore": ["electron"] }],
    "linebreak-style": 0,
    "indent": ["error", 4],
    "comma-dangle": ["error", "never"],
    "quotes": "off",
    "no-trailing-spaces": "off",
    "no-console": "off",
    "no-param-reassign": "warn",
    "consistent-return": "warn",
    "no-else-return": "off",
    "no-unused-vars": "warn",
    "no-plusplus": ["warn", { "allowForLoopAfterthoughts": true }]
  }
}
